.wrapper{
    display:flex;
    justify-content: center;
}
.background{
    background-color:#DCDCDC;
    border:solid black 2px;
    grid-row:2;
    padding-left:1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-right:2rem;
}
.hashtag{
 position: absolute;
 left:45rem;
 top:1rem;
 font-size:2.5rem;
 font-weight:bolder;
}