.nameWrapper{
    display:flex;
    width: 40rem; 
    justify-content:space-between;

}
.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40rem; /* Full-width */
    height: 6px; /* Specified height */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .location{
      font-size:1rem;
      font-weight:bold;
  }